/* header_title--link */


.container {
	width: 1366px;
	height: 768px;
	border: 3px solid;
	border-radius: 24px;
	border-style: outset;
	padding: 50px;
	margin: 20px;
	justify-content: center;
	display: flex;
	position: relative;
	left: 15%;
	top: 50%;

	.forms {

		display: flex;

		.loginText {
			font-size: 30px;
			font-weight: bold;
			position: absolute;
			left: 290px;
			top: 100px;
		}

		.nameInput {
			width: 364px;
			height: 52px;
			border: 2px;
			border-style: outset;
			border-radius: 16px;
			margin: 10px;
			position: absolute;
			left: 159px;
			top: 138px;
		}

		.emailInput {
			width: 364px;
			height: 52px;
			border: 2px;
			border-style: outset;
			border-radius: 16px;
			margin: 10px;
			position: absolute;
			left: 159px;
			top: 208px;
		}

		.passwordInput {
			width: 364px;
			height: 52px;
			border: 2px;
			border-style: outset;
			border-radius: 16px;
			margin: 10px;
			position: absolute;
			left: 159px;
			top: 278px;
		}

		.submit {
			width: 124px;
			height: 52px;
			border: 2px;
			border-style: outset;
			border-radius: 16px;
			position: absolute;
			top: 374px;
			left: 269px;
			margin: 10px;
		}

		.created {
			font-size: 12px;
			text-decoration: underline;
			color: #0A6BFD;
			position: absolute;
			top: 436px;
			left: 279px;
		}
	}

	.logo {
		display: flex;

		.background {
			width: 682px;
			height: 762px;
			position: absolute;
			left: 678px;
			top: 0px;
			border-top-right-radius: 24px;
			border-bottom-right-radius: 24px;

		}

		.img {
			position: absolute;
			left: 885px;
			top: 135px;

		}
	}
}