/* header_title--link */


.container {
	width: 1366px;
	height: 768px;
	border-radius: 24px;
	padding: 50px;
	margin: 20px;
	justify-content: center;
	display: flex;
	position: relative;
	left: 15%;
	top: 40%;
	box-shadow: 1px 3px 10px #00000040;

	.forms {

		display: flex;

		.loginText {
			font-size: 30px;
			font-weight: bold;
			position: absolute;
			left: 290px;
			top: 100px;
		}

		form {
			display: flex;

			.nameInput {
				padding: 8px;
				border-radius: 4px;
				border: 1px solid #cccccc;
				width: 364px;
				margin-bottom: 8px;
				resize: none;

				&:focus {
					border: 2px solid #ffd953;
					padding: 7px;
				}

				position: absolute;
				left: 159px;
				top: 138px;
			}

			.emailInput {
				padding: 8px;
				border-radius: 4px;
				border: 1px solid #cccccc;
				width: 364px;

				resize: none;

				&:focus {
					border: 2px solid #ffd953;
					padding: 7px;
				}

				position: absolute;
				left: 159px;
				top: 208px;
			}

			.passwordInput {
				padding: 8px;
				border-radius: 4px;
				border: 1px solid #cccccc;
				width: 364px;
				margin-bottom: 8px;
				resize: none;

				&:focus {
					border: 2px solid #ffd953;
					padding: 7px;
				}

				position: absolute;
				left: 159px;
				top: 278px;
			}

			.submit {
				color: #ffffff;
				background-color: #0026ff;
				font-size: 16px;
				width: 124px;
				height: 52px;
				border: 2px;
				border-style: outset;
				border-radius: 16px;
				margin: 10px;
				position: absolute;
				top: 374px;
				left: 269px;


			}
		}

		.submit:focus {
			color: #ffd900;
			background-color: #0026ff;
		}

		.created {
			font-size: 12px;
			text-decoration: underline;
			color: #0A6BFD;
			position: absolute;
			top: 436px;
			left: 279px;
		}
	}

	.logo {
		display: flex;

		.background {
			width: 685px;
			height: 765px;
			position: absolute;
			left: 678px;
			top: 0px;
			border-top-right-radius: 24px;
			border-bottom-right-radius: 24px;
		}

		.img {
			position: absolute;
			left: 885px;
			top: 135px;

		}
	}
}