.navbar {
	display: flex;
	background-color: #FAFAFA;
	color: #2c2663;
	padding: 0px 8px;
	border-bottom: 1px solid #dddddd;
	height: 60px;

	.navbar__logo {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.navbar__menu {
		list-style: none;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-around;

		.navbar__menu--item {
			height: calc(100% + 2px);
			margin-bottom: -2px;

			.navbar__menu--item-link {
				display: inline-block;
				width: max-content;
				padding: 0px 16px;
				color: #2c2663;
				font-weight: 600;
				font-size: 14px;
				text-transform: uppercase;
				height: 100%;
				display: flex;
				align-items: center;
				text-align: center;

				&.active {
					background-color: #ffffff;
					border: 1px solid #dddddd;
					border-top: 2px solid #ffd953;
					border-bottom: 3px solid #ffffff;
				}
			}
		}
	}
}