.records-table {
	width: 100%;

	.records-table__head {
		.records-table__head--header {
			display: flex;
			align-items: center;

			.records-table__head--header-item {
				font-weight: 600;
				color: #A9ACBB;
				border-bottom: 1px solid #A9ACBB80;
			}
		}
	}

	.records-table__content {
		list-style: none;
		max-height: 600px;
		overflow: auto;


		&::-webkit-scrollbar {
			width: 10px;
		}

		&::-webkit-scrollbar-track {
			background-color: #ffd953;
			border-radius: 100px;
		}

		&::-webkit-scrollbar-thumb {
			background-color: #2c2663;
			border-radius: 5px;
		}

		&::-webkit-scrollbar-thumb:hover {
			background: #2c2663de;
		}

		.records-table__content--body {
			display: flex;
			align-items: center;

			.records-table__content--body-item {}

		}
	}

	.records-table__content--body-item,
	.records-table__head--header-item {
		flex: 3;
		text-align: center;
		font-size: 14px;
		border-bottom: 1px solid #A9ACBB40;
		height: 60px;
		padding: 10px 0px;
		display: flex;
		align-items: center;
		justify-content: center;
		text-transform: capitalize;

		&.record-id {
			flex: 1;
		}

		&.record-quantity {
			flex: 1;
		}

		&.record-product_code {
			flex: 1;
		}

		&.record-date {
			flex: 2;
		}


	}

	.records-table__footer {
		display: flex;
		padding-top: 8px;
		justify-content: space-between;
		// box-shadow: 1px 0px 5px 2px #00000040;
	}
}

table {
	border-collapse: collapse;
	width: 100%;
	border: 1px;

	tbody {
		margin-top: 15px;

		tr {
			&:nth-child(odd) {
				background: #eeeeee;


			}
		}
	}

	thead {
		border-bottom: 1px solid #bdbfc5;
		height: 50px;
		font-size: 14px;
	}


	th {
		color: #A9ACBB;
	}

	td {
		margin-top: 10px;
		background-color: #ffffff;
		vertical-align: middle;
		text-align: center;
		border-bottom: 1px solid #EEEEEE;
		height: 50px;
		font-size: 14px;
		font-weight: normal;
		max-width: 80px;
		overflow: hidden;
		text-overflow: ellipsis;
	}

}