$font-size: 14px;

table {
	border-collapse: collapse;
	width: 100%;
	border: 1px;

	tbody {
		margin-top: 15px;

		tr {
			&:nth-child(odd) {
				background: #eeeeee;


			}
		}
	}

	thead {
		border-bottom: 1px solid #bdbfc5;
		height: 50px;
		font-size: $font-size;
	}


	th {
		color: #A9ACBB;
	}

	td {
		margin-top: 10px;
		background-color: #ffffff;
		vertical-align: middle;
		text-align: center;
		border-bottom: 1px solid #EEEEEE;
		height: 50px;
		font-size: $font-size;
		font-weight: normal;
		max-width: 80px;
		overflow: hidden;
		text-overflow: ellipsis;
	}

}