.content {
	display: flex;
	flex-direction: row;

	.form_container {
		padding: 80px;
		width: 50%;
		display: flex;

		form {
			display: flex;
			flex-direction: column;
			gap: 12px;

			.input__container--check {
				display: flex;
				flex-direction: row;
				gap: 12px;

				label {
					font-size: 12px;
					font-weight: 600;
					text-transform: uppercase;
					color: #2c2663;
					margin-bottom: 12px;
				}

				input {
					margin-bottom: 12px;
				}
			}


			.input__container {
				display: flex;
				flex-direction: column;

				label {
					font-size: 12px;
					font-weight: 600;
					text-transform: uppercase;
					color: #2c2663;
					margin-bottom: 2px;
				}

				textarea,
				input {
					padding: 8px;
					border-radius: 4px;
					border: 1px solid #cccccc;
					width: 200px;
					margin-bottom: 8px;
					resize: none;

					&:focus {
						border: 2px solid #ffd953;
						padding: 7px;
					}
				}

				.disabled_input {
					padding: 8px;
					border-radius: 4px;
					border: 1px solid #cccccc;
					width: 200px;
					margin-bottom: 8px;
					resize: none;
				}
			}

			button {
				color: #ffffff;
				background-color: #0026ff;
				font-size: 12px;
				width: max-content;
				//height: 14px;
				padding: 10px 8px;
				border: 0px;
				border-radius: 6px;

			}

			button:focus {
				background-color: #ffd953;
			}


		}



	}

	.logo {
		width: 50%;
		height: 100%;
		display: flex;
		padding: 100px 80px;


		.img {

			position: relative;


		}
	}
}